{
  "presets": [
    ["@babel/env", { "modules": false,"targets": {
      "node": "current" // or '7.10.0'
    } }]
  ],
  "plugins": [
    ["@babel/proposal-decorators", { "legacy": true }],
    ["@babel/proposal-class-properties", { "loose": true }]
  ]
}
